@font-face {
	font-family: 'Hilton Sans';
	src: url('../hilton-sans.otf') format('opentype');
}

// @mixin transition {
//   @for $i from 1 through 20 {
//     &:nth-child(#{$i}) {
//     opacity: 0;

//       animation: fade #{$i * .2}s  ease-in forwards;
//       animation-delay: .5s;
//     }
//   }
// }

@keyframes fade {
    0% {
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#main {
    //transition: background .5s !important;
}
body, html {
	height: 100%;
	font-family: 'Hilton Sans', sans-serif;
}
.banner {
    animation: fade 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Code Blocks for Different Page Color

.body-set-arch {
   
    background-color: #fff;
    color: #333;
 
    .banner {
        background: url('../_img/arch-1.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

    }
    ul li a i {
        color: #333;
        transition: color 1s;
    }
    .menu ul li a.active i {
        color: #cba135 !important; 
         transition: all 1s;
    }
}

.body-set-dark {

    background-color: #000;
    color: #fff;
    .banner {
        
        background: url('../_img/main2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    ul li a i {
        color: #fff;
        transition: all 1s;
    }
    .menu ul li a.active i {
        color: #cba135 !important; 
         transition: all 1s;
    }
}

.body-set-people {
   
    background-color: #fff;
    color: #333;
 
    .banner {
        background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0), rgba(255,255,255,0)), url('../_img/people2.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

    }
    ul li a i {
        color: #333;
        transition: color 1s;
    }
    .menu ul li a.active i {
        color: #cba135 !important; 
         transition: all 1s;
    }
}

.contact-form {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 11;
    form {
        display: block;
        position: absolute;
        border: 2px #fff solid;
        border-radius: 25px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 95%;
        height: 95%;
        margin: auto;
        input {
            display: block;
            margin: 2rem auto;
        }
    }
}

// .arch {
// position: absolute;
//    display: none; 
//     height: 100%;
//     width: 100%;
//     top: 0;
//     left: 0;
//     background: url('../_img/arch1.jpg');
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     overflow: none;
// }

// .dark {
//     position: absolute;
    
//     height: 100%;
//     width: 100%;
//     top: 0;
//     left: 0;
//     background: url('../_img/main2.jpg'), #000;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: contain;
//     overflow: none;
// }

.brand {
   background: url(../_img/brand.png) no-repeat;
   background-position: 25px 0px;
   background-size: contain;

   display: block;
   width: 20%;
   min-width: 300px;
   max-height: 150px;
    height: 150px;
   margin: 2rem auto;
    @media screen and (max-width: 767px) {
    height: 100px;
    background-position: center;
    }
}


.bg {
  
	position: relative;
	height: 80%;
   top: 0;
    margin: 0 auto;



    @media screen and (max-width: 767px) {
    	height: 50%;
    	margin-top: 25%;
    	// margin-left: 10%;
    	// margin-right: 10%;
    }
}

.hidden {
    display: none;
}

.menu {
    display: block;
    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    margin: 5rem auto;
    text-align: center;
     @media screen and (max-width: 767px) {
        width: 150px;
        top: 5rem;
    }
    li {
        display: inline-block;
        width: 10%;
         @media screen and (max-width: 767px) {
        width: 75px; 
        height: 75px;
        float: left;
        border: 2px #fff solid;
        box-sizing: border-box;
    }
        
        a {
            text-decoration: none;
            color: #fff;
        }
        .active {
                color: #CBA135;
            }
        i {
            font-size: 2rem;
             @media screen and (max-width: 767px) {
            font-size: 3rem;   
            line-height: 1.5;
    }
        }
    }
    @media screen and (max-width: 767px) {
        
    }
}

.carousel {
    padding-top: 5rem;
    margin: 0 auto;
    height: 20%;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
 

    .carousel-item {
        display: flex;
        max-height: 100%;

        padding: 0;
        margin: 0;
        margin-right: 8px;
        &:last-child {
            margin-right: 0;
        }
    }
}

// Sidebar
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#menu {
	position: fixed;
	font-size: 1.3rem;
	top: 2rem;
	left: 2rem;
}

// Social Footer
.social {
	position: fixed;
	top: 2rem;
	right: 2rem;
	font-size: 2rem;
	li {
		display: inline-block;
		width: 2rem;
		a {
			color: #999;
			transition: all .5s;
			&:hover {
				color: #bbb;
			}
			@media screen and (max-width: 767px) {
    	color: #999;
    	font-size: 1.5rem;
    }
		}
	}
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}


// Gallery Pages

.gallery {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	height: 50%;
	margin-top: 25%;

	.responsive-image {
  		max-width: 100%;
	}
	.cell img {
 		 display: block;
	}
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
  }
}

.cell {
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

// Slideshow View

.show {
	position: relative;
	.grid {
		display: block;
		.cell {
			width: 100%;
			.responsive-image {
				position: absolute;
				//display: none;
			}
		}
	}
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}